@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.metacontainer {
  font-family: 'VT323', monospace;
  background: white;
  width: 700px;
  min-height: 400px;
  border-radius: 20px 20px;
  position: relative;
  margin: 20px auto 0 auto; /* top right bottom left */
  border: 2px solid #1e2124;
  box-shadow: 5px 10px black;
  overflow-y: auto;
  margin-bottom: 20px; 
 }

.container {
  background: #424549;
  padding: 20px;
  width: 80%;
  position: relative;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 5px 10px black;
  margin-top: 30px;
}

input[type=text] {
  border-radius: 20px;
  width: 80%;
  padding: 10px;
  font-size: 12px;  
}

button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-right: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: white;

}

button[type=reset] {
  float: right;
}

#send {
  margin-left: 10px;
  width: 15%;
  background-image: url(./SignBG.png);
  background-repeat: no-repeat;
  background-position: center center;
}

button:active {
  transform: translateY(3px);
}

.picture, .picture2{
    background-image: url(./SignBG.png);
    background-position: center;
    margin: 15px auto 0 30px;
    background-size: 110%;
	border: 1px white;

}

.picture2 {
  margin: auto;
  border-radius: 30px;
}

.picture2 {
  float:left;
  margin-right: 1em;
}

.name, .name2{
    text-align: left;
	margin-top: -50px auto 0 100px;
    font-size: 1.0em;
    position: relative;
    width: 200%;
}

.name2 {float: none;}

.write{
  border-radius: 1px;
  width:80%;
  height:55%;
  margin: 40px auto 0 30px;
  padding: 10px;
  font-size: 12px;
  display: inline-block;
}

.sample{
  border: 2px solid #1e2124;
  border-radius: 20px;
  background: white;
  width:80%;
  margin: 40px auto 0 30px;
  text-align: left;
  padding: 10px;
  font-size: 1.0em;
  display: inline-block;
  box-shadow: 5px 10px black;
  overflow-y: scroll;
  height:  100px;
}

.comment_post {
  background: white;
  width:  75%;
  margin: 20px;
  margin-left: 40px;
  padding: 0.5em;
  visibility: hidden;
  box-shadow: 5px 10px black;
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
}