    .graphButton{
        position: absolute;
        background-image: url('./swap.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        border-color: silver;
        
        left: 85%;
        bottom: 15%;

        width: 25px;
        height: 25px;
    }