	.querysearchbarcontainer{
		position: fixed; /* Keeps search bar constant on page */
		z-index: 2; /* Places the search bar in front of the header */
		top: 3%; /* Spacing from top edge */
		right: 500px; /* Spacing from right edge, use px so search bar moves with window resizing */
	}

    .graphcontainer{
        position: fixed;
        top: 15%;
    }

    .tweetcontainer{
       position: fixed;
       top: 20%;
       right: 5%;
       height: 75%;
       overflow-y: auto;
    }
