@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
	width: 100%;
}

.navbar{
	font-family: Copperplate, fantasy;
	text-align: left;
    background: #00b9fb;
    border-radius: 0 0 20px 20px;
	padding: 8px;
	font-size: 3.5em;
	color: white;
	right: 300px;
}

/* Search button image */
.searchButton{
	outline: none;
    background-image: url(./search.JPG);
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
    background-size: 70%;
	background-position: center;
    background-color: white;
    border-radius: 90px;
    border: black;
    border: 2px solid silver;
}