@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.post{
	border: 2px solid #1e2124;
	font-family: 'VT323', monospace;
    background: white;
  	width: 700px;
  	height: 200px;
  	border-radius: 20px 20px;
  	position: relative;
  	margin: 20px auto 0 auto; /* top right bottom left */
    box-shadow: 5px 10px black;

}

.picture{
    background-image: url(./SignBG.png);
    background-position: center;
    margin: 15px auto 0 30px;
    background-size: 110%;
	border: 1px white;
	border-radius: 50px;
}

.name{
    text-align: left;
	margin: -60px auto 0 100px;
    font-size: 2.0em;
    position: relative;
    width: 200%;
    font-weight: bold;
}
.text {
  padding:30px;
  width: 180%;
  height:83%;
  top: 10;
  position: absolute;

}

.comment2{
	margin: auto auto 0 auto;
    text-align: left;
    font-size: 1em;
    position: relative;
    width: 50%;
    height:100%;
    display: inline-block;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;

}

button {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 5px;
    background: aliceblue;
    font-size: 0.8em;
}


#submit {
  margin-left: 610px;
  margin-bottom: 500px;
  width: 4%;
  height:30%;
  background-repeat: no-repeat;
  background-position: center center;
  transform:translateY(-40px);
}

button:active {
  transform: translateY(3px);
}

.clearfix{
    clear:both
}

