@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
	body
	{
		font-family: 'VT323', monospace;
		background-image: url(./SignBG.png);
		background-size: 150px;
		background-repeat: no-repeat;
		background-color: white;
		background-position: left bottom;
		background-position: fixed;
		margin-left: 300px;

	}
	
	.signin-newAccount
	{
		font-size: 12px;
		color: white;
		margin-left: 30px;
		text-decoration: none;
	}
	
	.signin-label
	{
		font-family: "Lucida Console", "Courier New", monospace;
		font-size: 11.5px;
		color: white;
		margin-left: 30px;
		margin-top: 20px;
	}
	
	.signin-container
	{
		margin: 0 0 0 -27%;/* top right bottom left */
		position: relative;
		background-image: url(./SignBG.png);

	}
	
	.signin-window
	{
		background: white;
		border: 2px solid rgb(255, 255, 255);
		height: 80px;
		width: 400px;
		margin-right: 50px;
		margin-top: 300px;
		border-radius: 20px;
		position: absolute;
		right: 0;
		z-index: 2;
		background-image: url(./SignBG.png);

	}
	
	.signin-logo
	{
		margin-top: 60px;
		right: 3700px;
		position: absolute;
		top: 50px;
		z-index: 3;
		border-radius: 20px;
		background-image: url(./SignBG.png);

	}
	a:link[type=submit_i]
	{
		text-decoration: none;
		text-align: center;
		padding: 5px 10px;
		width: 25%;
		background-color:rgb(30, 141, 233);
		border-color: #424549;
		margin-top: -20px;
		margin-right: 20px;
		color: #424549;
		float: right;
		border-radius: 20px;
		cursor: pointer;
		outline:none;
		position: relative;
	}
	input[type=text] {
		width: 130px;
		box-sizing: border-box;
		border: 2px solid #ccc;
		border-radius: 4px;
		font-size: 16px;
		background-color: white;
		background-image: url('search.JPG');
		background-size: 25px;

		background-position: 10px 10px; 
		background-repeat: no-repeat;
		padding: 12px 20px 12px 40px;
		transition: width 0.4s ease-in-out;
	  }
	  
	  input[type=text]:focus {
		width: 100%;
	  }
	
	a:hover 
	{
		background-color: white;
	}
	
	
	h5 {
		color: white;
		background-color: #1e2124;
		padding: 10px;
		box-shadow: 5px 10px black;
		border-radius: 15px;
		visibility: hidden;
		text-align: center;
		width: 50%;
		margin: 60%;
		background-image: url(./SignBG.png);


	}


h6 {
	background-color: black;
	color: white;
	padding-left: 2em;
	border-radius: 10px;
	background-image: url(./SignBG.png);

}