@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
	body
	{
		font-family: 'VT323', monospace;
		background-image: url(./SignBG.png);
		background-repeat: no-repeat;
		background-color: #fae5e4;
		background-position: left bottom;
		background-attachment: fixed;
	}

	.signup-header
	{
		font-size: 30px;
		color: white;
		text-align: center;
		margin-top: 30px;
		
	}
	
	.signup-label
	{
		font-size: 11.5px;
		color: white;
		margin-top: 20px;
	}
	
	.signup-container
	{
		margin: -2% 0 0 -33%;/* top right bottom left */
		position: relative;
		text-align: center;
	}
	
	.signup-window
	{
		background: #424549;
		border: 2px solid #1e2124;
		height: 400px;
		width: 400px;
		margin-right: 50px;
		margin-top: 100px;
		border-radius: 20px;
		position: absolute;
		right: 0;
		z-index: 2;
        box-shadow: 5px 10px black;
	}
	
	.signup-logo
	{
		margin-top: 60px;
		right: 370px;
		position: absolute;
		top: 50px;
		z-index: 3;
		border-radius: 20px;
	}
	
	input[type=form_control], input[type=password]
	{
		width: 50%;
		padding: 5px 10px;
		margin-left: 10px;
		border: 2px solid white;
		border-radius: 20px;
		outline:none;
	}		

	#ending {
		margin-bottom:50px;
	}
	
	a:link[type=submit_i], a:link[type=submit_j]
	{
		text-decoration: none;
		text-align: center;
		padding: 5px 10px;
		width: 15%;
		background-color: rgb(25, 166, 248);
		border-color: #424549;
		margin-top: -20px;
		margin-right: 20px;
		color: #424549;
		float: right;
		border-radius: 20px;
		cursor: pointer;
		outline:none;
		position: relative;
	}
	
	a:hover 
	{
		background-color: Plum;
	}
	
	a:link[type=submit_j]
	{
		float: left;
		margin-left: 20px;
	}

	h5 {
		color: pink;
		margin-top: 50px;
		background-color: #1e2124;
		padding: 10px;
        box-shadow: 5px 10px black;
        border-radius: 15px;
        visibility: hidden;
	}